.index_img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./images/signup.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body{
  font-family: 'Manrope', sans-serif;

}
.name_log{
  font-family: 'Playfair Display', serif;
}
