{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}

{%block content%}

<div class="index_img">
  <div class="container" >
    <div class="text-center" style="margin-top:15%; color:antiquewhite;">
        <h1>Welcome to <span class="fw-bolder" style="color:#50caef ;"> Jiji</span>
         </h1>
        <h3>
        Jiji is where you connect to the neighborhoods that matter to you so you can belong.
By bringing neighbors and organizations together, we can cultivate a kinder world where everyone has a neighborhood they can rely on.</h3>
        <h5 style="margin-top:3%">Get Started by joining a hood today</h5>

        <a href="{%url 'all_hoods'%}" class="btn btn-sm btn-info mt-4">Join a Hood</a>
    </div>

  </div>
</div>
<!-- <div class="container-fluid">
  <div class="container">

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
      {%for post in posts%}

      <div class="col">
        <div class="card">

          {% if post.image %}
          {% if post.image.url %}

          <img src="{{post.image.url}}" class="card-img-top" alt="user avatar" />
          {%else%}
          <img src="" class="card-img-top" alt="user avatar" />
          {% endif %}
          {% endif %}
          <div class="card-body">
            <span style="display:flex;flex-direction:row; justify-content:space-around;width:60%; justify-content:baseline;">
              <a class="mt-2" href="#">
                <p  style="color:rgb(13, 209, 209)">{{post.title}}</p>
              </a>


            <p class="card-text">
            </p>
            <div class="card-footer bg-white">

              <small class="text-muted " >{{post.post}}</small>
              <p class="card-text "><img class="rounded-circle nav-img" style="height: 30px; width: 30px"
                  src="" class="nav-img mr-2" alt="">
                 <span style="float:right">{{post.date|date}}</span>
              </p>


            </div>
          </div>
        </div>
      </div>
      {%endfor%} -->


{%endblock%}
