{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}

{%block content%}

<div class="index_img">
  <div class="container" >
    <div class="text-center" style="margin-top:15%; color:antiquewhite;">
        <h1>Welcome to <span class="fw-bolder" style="color:#50caef ;"> Jiji</span>
         </h1>
        <h3>
        Jiji is where you connect to the neighborhoods that matter to you so you can belong.
By bringing neighbors and organizations together, we can cultivate a kinder world where everyone has a neighborhood they can rely on.</h3>
        <h5 style="margin-top:3%">Get Started by joining a hood today</h5>

        <a href="{%url 'all_hoods'%}" class="btn btn-sm btn-info mt-4">Join a Hood</a>
    </div>

  </div>
</div>

{%endblock%}
